{% extends 'base.html.twig' %}

{% block body %}
    <article class="tweeter">
        {% if tweets is not null %}
            <h2 class="title">Derniers tweets
                <span class="link">
                    [<a href="https://twitter.com/jphNovitz" target="_blank">@jphNovitz </a>]
                </span>
            </h2>
            {% for tweet in tweets %}
                <div class="tweet">
                    <div class="content">
                        {% if tweet.image is defined and tweet.image is not empty %}
                            <div class="caption">
                                <img src="{{ tweet.image }}" alt="jphNovitz image tweeter"/> <br/>
                            </div>
                        {% endif %}
                        <div class="text">
                            {{ tweet.text|nl2br }}
                        </div>
                    </div>
                    {% if tweet.hashtags is defined and tweet.hashtags is not empty %}
                        <div class="hashtags">
                            {% for tag in tweet.hashtags %}
                                #{{ tag }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="link">
                        <a href="{{ tweet.link }}"
                           target="_blank">
                           Le {{ tweet.date }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Probleme de réseau, aucun tweet à afficher</p>
        {% endif %}
    </article>
{% endblock %}